.goalItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
  }
  
  .goalItem h2 {
    margin: 0;
    font-size: 16px;
  }
  
  .goalItem div {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .close{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    background-color: black;
    color: red;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
  }